.register-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fb;
}

.register-card {
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 15px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.register-form button {
  padding: 12px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
}